workstation:
  users:
    root:
      password: ***
    username:
      password: ***

  backup:
    local_key: ***
    backblaze:
      account: ***
      key: ***
      bucket: ***
      path: ***
    exclude_dirs:
      - dir1
      - dir2
